# example
export SYNC_USER="username"
export SYNC_SERVER="sync.server"
export DIR_LOCAL="/home/username/data"
export DIR_REMOTE="/home/username/data"
export RSYNC_FLAGS="-e ssh --bwlimit=256 --delete --owner --group --links --perms --times --progress --recursive"
